body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.8) 0%, rgb(255, 255, 255) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    width: 80%;
    max-width: 1200px;
    align-items: center;
}
.container {
    background: linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(42, 137, 205, 0.4) 100%);
    backdrop-filter: blur(10px);
    padding: 10%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}
.side-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}
.title {
    color: rgb(0, 0, 0);
    font-size: 2vw;
    margin-bottom: 2%;
}
.input-group {
    margin: 2% 0;
    text-align: left;
}
.input-group label {
    display: block;
    color: rgb(17, 18, 18);
    font-size: 1.2vw;
}
.input-group input {
    width: 100%;
    padding: 2%;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1vw;
}
.terms-container {
    background: white;
    padding: 2%;
    border-radius: 5px;
    height: 15vh;
    overflow-y: scroll;
    font-size: 1vw;
    margin-bottom: 2%;
    width: 100%;
}
.btn {
    background: #ff7eb3;
    color: white;
    padding: 2%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    font-size: 1.2vw;
    width: 100%;
}
.btn:hover {
    background: #ff4f81;
}
.input-groupc{
    margin: 4%;
    margin-bottom: 4%;
}